/* Estilo inicial de la noticia */
.floating-news {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: transform 2s ease;
}

/* Clase para mover la noticia a la izquierda */
.floating-news.move-left {
    transform: translateX(-100vw);
}

/* Clase para mover la noticia a la derecha */
.floating-news.move-right {
    transform: translateX(100vw);
}

/* Estilo para el banner de héroe en la parte superior del menú */
.hero-banner {
    width: 100%;
    height: 200px;
    background-image: url('images/one-piece-background2.jpg'); /* Cambia esto a la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    margin-top: 60px; /* Asegúrate de que esté debajo del menú */
}

/* Estilo para el banner de héroe en la sección del video */
.hero-banner-video {
    width: 100%;
    height: 300px;
    background-image: url('images/garp-impacta.jpeg'); /* Cambia esto a la ruta de tu segunda imagen */
    background-size: cover;
    background-position: center;
    margin-top: 20px; /* Ajusta según sea necesario */
    position: relative;
}

.hero-banner-video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Efecto de superposición oscuro */
}
